name: later_ci

on: [push, pull_request]

jobs:
  build:
    name: Running python ${{ matrix.python-version }} on ${{matrix.os}}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: [3.7, 3.8, 3.9, 3.10, 3.11]
        os: [ubuntu-latest]

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    - name: update pip + setuptools
      run: |
        python -m pip install --upgrade coverage pip setuptools

    - name: pip install requirements
      run: |
        python -m pip install -r requirements.txt

    - name: pip install later
      run: |
        python -m pip install -e .

    - name: Run Unitests via coverage
      run: |
        coverage run -m later.tests.base

    - name: Show coverage
      run: |
        coverage report
